<ul class="breadcrumb">
  <li><%= link_to t('frda.nav.frda_collection'), root_path%></li>

  <% if on_about_pages %>
   &#187; <li><%= link_to t('frda.nav.about'), about_project_path%></li>
		<% case @page_name %>
 			<% when "project" %> 
				&#187; <%=t('frda.nav.project_overview') %>
 			<% when "history" %> 
				&#187; <%=t('frda.nav.project_history') %>
 			<% when "stanford_team" %> 
				&#187; <%=t('frda.nav.project_team_stanford') %>
 			<% when "bnf_team" %>
				&#187; <%=t('frda.nav.project_team_bnf') %>
 			<% when "acknowledgements" %> 
				&#187; <%=t('frda.nav.acknowledgements') %>
 			<% when "contact" %>
				&#187; <%=t('frda.nav.contact_us') %>
 			<% when "terms_of_use" %> 
				&#187; <%=t('frda.nav.use_policy') %>
		 <% end %>
  <% end %>

 <% if on_collection_highlights_page %>
    &#187; <li><%=t('frda.home.collection_highlights')%></li>
 		<% elsif on_image_page %>
		&#187; <li><%= link_to t('frda.nav.collection_images'),image_collection_path %></li>
	<% elsif on_ap_page %>
		&#187; <li><%= link_to t('frda.nav.collection_ap'),ap_collection_path %></li>
	<% end %>
	
	<% if on_search_page || on_show_page %>
		&#187; <li><%= raw truncate(@page_title) %></li>
	<% end %>
	
</ul>
