<ul class="nav nav-list">
	<li class="nav-header"><%=t('frda.sidebar.finding_aid.title')%></li>
	<li>
		<%= link_to 'https://github.com/sul-dlss/bassi-ead-xml/blob/master/Bassi-Veratti_EAD.pdf?raw=true' do %>
      <i class="icon-download"></i>
      <%=t('frda.sidebar.finding_aid.download_pdf')%>
	  <% end %>
	</li>
	<li>
	  <%= link_to 'https://github.com/sul-dlss/bassi-ead-xml/blob/master/bassi-ead.xml?raw=true' do %>
      <i class="icon-download"></i>
      <%= t('frda.sidebar.finding_aid.download_ead') %>
	  <% end %>
  </li>
</ul>
