<%# This is an AP results view %>

<div id="documents" class="frequency">
  <div class="row heading">
    <div class="span9">
      <%= t('frda.search.sequence') %>
      <span class="occurrences"><%= t('frda.search.occurrences') %></span>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <%- @response.facet_pivot.each do |_, tomes| -%>
        <ul>
          <%- tomes.each do |tome| -%>
            <li>
              <%= link_to_volume_facet(tome["value"], :params => params.dup.delete_if{|k,v| k == "view"}) %> <span class="occurrences">(<%= tome["count"]%>)</span>
              <ul>
                <%- tome["pivot"].each do |session| -%>
                  <li>
                    <%= link_to_session_facet(session["value"], :params => params.dup.delete_if{|k,v| k == "view"}) %> <span class="occurrences">(<%= session["count"] %>)</span>
                  </li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
  </div>
</div>