<%# This is an Combined results view %>
<div id="documents" class="gallery<%= ' images' if on_images_page %>">
  <%- if response_is_grouped? -%>
    <%- documents.each_with_index do |grouping, index| -%>
      <%- if grouping.group -%>
        <h2>
          <i class="icon-book"></i>
          <%= link_to_volume_facet(grouping.group, {:params => params}) %>
          <%#= link_to(grouping.group, show_page_path(:id=>grouping.docs.first.druid,:page_num=>"1")) %>
          <span>(<%= t('frda.search.occurrence', :count => grouping.total) %>)</span>
        </h2>
        <%# TODO: The else portion below is temporary. Remove when indexing work is done to show the
            Images group title. Will need to detect whether group is Images and if so,
            use the appropriate icon instead of icon-book. %>
      <%- else -%>
        <%# Only show the Images group heading if we're in the combined results view %>
        <% unless on_images_page %>
          <h2>
            <i class="icon-picture"></i>
            <%= t('frda.search.results_heading_image') %>
          </h2>
        <%- end -%>
      <%- end -%>
      <ul class="image-grid">
        <%- grouping.docs.each_with_index do |document| -%>
          <%= render :partial => "gallery_index_document", :locals => {:document => document, :index => index} %>
        <%- end -%>
      </ul>
      
    <%- end -%>
  
  <%- else -%>
    <ul class="image-grid">
      <%- documents.each_with_index do |document, index| -%>
        <%= render :partial => "gallery_index_document", :locals => {:document => document, :index => index} %>
      <%- end -%>
    </ul>
  <%- end -%>
    
</div>
