<%# This is AP/Images combined results view %>

<div id="documents" class="default">
  <%- documents.each_with_index do |grouping, index| -%>
    <%- if grouping.group -%>
      <h2>
        <i class="icon-book"></i>
        <%= link_to(grouping.group, "#") %>
        <span>(<%= t('frda.search.occurrence', :count => grouping.total) %>)</span>
      </h2>
    <%- end -%>
    <%- grouping.docs.each do |document| -%>
      <div class="row">
        <div class="span2 results-image">
          <%= link_to_document document,
               :label => image_tag(document.first_image(:size=>:thumb),
                                   :alt => document.title,
                                   :title => document.title,
                                   :border => 0),
               :counter =>  (index + 1 + @response.params[:start].to_i) %>
        </div>
        <div class="span7 results-metadata">

          <div class="oneresult">
            <div class="page-speaker">
              <span class="speaker">
                  <% unless list_is_empty?(document.speaker)%>
                    <span class="frda-label">Speaker:&nbsp;</span>
                    <%=show_list(document.speaker)%>
                  <% end %>
                </span>
              <span class="pagenum">
                <i class="icon-list-alt"></i>
                <%= link_to "page #{document.page_number}", document %>
              </span>
            </div>
            <div class="snippet">
              <span class="longtext">
                <% unless document.page_text.blank? %>
                  <%= truncate(document.page_text, :length => 600) %>
                <% end %>
              </span>
            </div>
          </div>

          <%= render_document_partial document, :index, :document_counter => index %>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
</div>
