<%# This is an Images results view %>

<div id="documents" class="list<%= ' images' if on_images_page %>">
  <%- documents.each_with_index do |grouping, index| -%>
    <%- if grouping.group -%>
      <h2>
        <i class="icon-book"></i>
        <%= link_to(grouping.group, "#") %>
        <span>(<%= t('frda.search.occurrence', :count => grouping.total) %>)</span>
      </h2>
    <%- end -%>
    <%- grouping.docs.each do |document| -%>
      <div class="row">
        <div class="span9">
          <% if on_images_page %>
            <%# title format for Images %>
            <%= render :partial => "document_header", :locals => {:document_counter => index, :document => document} %>

            <% unless list_is_empty?(document.year)%>
              <span class="year"><%= show_list(document.year) %></span>
            <% end %>

          <% else %>
            <%# title format for AP %>
            <div class="documentHeader">
              <%= link_to_document document,
                                  :label=> document.title,
                                  :counter => (index + 1 + @response.params[:start].to_i) %>
              <div class="result-context">
                -- result context text goes here--
              </div>
              <div class="page-speaker">
                <span class="speaker">
                  <% unless list_is_empty?(document.speaker)%>
                    <span class="frda-label">Speaker:&nbsp;</span>
                    <%=show_list(document.speaker)%>
                  <% end %>
                </span>
              </div>
            </div>
          <%- end -%>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
</div>
