<div id="documents" class="<%= params[:result_view] %><%= ' images' if on_images_page %>">
  <%- if response_is_grouped? -%>
    <%- documents.each_with_index do |grouping, index| -%>
      <%- if grouping.group -%>
        <h2>
          <i class="icon-book"></i>
          <%= link_to_volume_facet(grouping.group, {:params => params}) %>
          <%#= link_to(grouping.group, show_page_path(:id=>grouping.docs.first.druid,:page_num=>"1")) %>
          <span class="group-count">
            <%# the 'if grouping.total > 10' value below is dependent on the value
                of solr_helper.rb#group_results_params group.limit value being '9' %>
            (<%= t(contextual_118n_key_for_pages(grouping.group), :count => grouping.total) %><% if grouping.total > 10 %><span class="all-results">- <%= link_to_volume_facet(grouping.group, {:params => params, :count => grouping.total}) %></span><% end %>)
          </span>
        </h2>
        <%# TODO: The else portion below is temporary. Remove when indexing work is done to show the
            Images group title. Will need to detect whether group is Images and if so,
            use the appropriate icon instead of icon-book. %>
      <%- else -%>
        <%# Only show the Images group heading if we're in the combined results view %>
        <% unless on_images_page %>
          <h2>
            <i class="icon-picture"></i>
            <%= t('frda.search.results_heading_image') %>
          </h2>
        <%- end -%>
      <%- end -%> <%# end grouping-group %>

      <%# response is grouped %>
      <div class="result-group">
        <%- grouping.docs.each_with_index do |document, index| -%>
          <%= render :partial => "search_result_item", :locals => {:document => document, :index => index} %>
        <%- end -%> <%# end grouping.docs %>
      </div> <%# end result-group div %>

    <%- end -%> <%# end true portion of response_is_grouped? %>

  <%- else -%> <%# response is not grouped %>
    <div class="flat-result-group">
      <%- documents.each_with_index do |document, index| -%>
        <%= render :partial => "search_result_item", :locals => {:document => document, :index => index} %>
      <%- end -%> <%# end non-grouped documents %>
    </div>
  <%- end -%> <%# end response_is_grouped? %>

  <%# Frequency View %>
  <div class="row heading frequency-view">
    <div class="span9">
      <%= t('frda.search.sequence') %>
      <span class="occurrences"><%= t('frda.search.occurrences') %></span>
    </div>
  </div>

  <div class="row frequency-view">
    <div class="span9">
      <%- @response.facet_pivot.each do |_, tomes| -%>
        <ul id="frequencytable">
          <%- tomes.each do |tome| -%>
            <li class="tome-title">
              <%= link_to_volume_facet(tome["value"], :params => params.dup.delete_if{|k,v| k == "view"}) %> <span class="occurrences"><%= tome["count"]%></span>
              <ul>
                <%- tome["pivot"].each do |session| -%>
                  <li>
                    <span class="session-title">
                      <%= link_to_session_facet(session["value"], :params => params.dup.delete_if{|k,v| k == "view"}, :title => session["value"]) %> 
                    </span>
                    <span class="occurrences"><%= session["count"] %></span>
                  </li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
  </div>

</div>
