<%# This results view is used for both AP and Images %>

<div id="documents" class="list<%= ' images' if on_images_page %>">
  <%- documents.each_with_index do |grouping, index| -%>
    <div class="document-group">
      <%- if response_is_grouped? -%>
        <%- if grouping.group -%>
          <h2>
            <i class="icon-book"></i>
            <%= link_to_volume_facet(grouping.group, :params => params) %>
            <span>(<%= t('frda.search.occurrence', :count => grouping.total) %>)</span>
          </h2>
        <%# TODO: The else portion below is temporary. Remove when indexing work is done to show the
            Images group title. Will need to detect whether group is Images and if so,
            use the appropriate icon instead of icon-book. %>
        <%- else -%>
          <%# Only show the Images group heading if we're in the combined results view %>
          <% unless on_images_page %>
            <h2>
              <i class="icon-picture"></i>
              <%= t('frda.search.results_heading_image') %>
            </h2>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <%- doc_list = response_is_grouped? ? grouping.docs : [grouping] -%>
      <%- doc_list.each do |document| -%>
        <div class="row">
          <div class="span9">
            <% if document.images_item? %>
              <%# title format for Images %>
              <%= render :partial => "document_header", :locals => {:document_counter => index, :document => document, :class_name => 'images-item' } %>
                <% unless list_is_empty?(document.year)%>
                  <span class="year"><%= show_list(document.year) %></span>
                <% end %>

            <% else %>
              <%# title format for AP %>
              <div class="documentHeader ap">
                <%= link_to_document document,
                                    :label=> document.title(:length=>"short"),
                                    :counter => (index + 1 + @response.params[:start].to_i) %>
                <div class="result-context">
                  -- result context text goes here--
                </div>
                <div class="page-speaker">
                  <span class="speaker">
                    <% unless list_is_empty?(document.speaker)%>
                      <span class="frda-label">Speaker:&nbsp;</span>
                      <%=show_list(document.speaker)%>
                    <% end %>
                  </span>
                </div>
              </div>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
    </div>
  <%- end -%>
</div>