<div id="content" class="span9 collection-highlights">
  <h2><%=t('frda.home.collection_highlights')%></h2>

  <% @highlights.each do |highlight| %>
    <div class="row highlight">
      <div class="span3">
        <%= link_to(image_tag(highlight.image_url,
            :class => 'highlight-poster-image'),
            catalog_index_path(params_for_collection_highlight(highlight))) %>
      </div>

      <div class="span6 highlight-desc">
        <h3 class="collection-title"><%= link_to_collection_highlight(highlight) %></h3>
        <span>(<%=t('frda.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
        <p>
          <%= "#{highlight.send("description_#{I18n.locale}")}" %>
        </p>
      </div>
    </div>
  <% end %>

</div>
