<div id="content" class="span9">
	<div class="row">
	  <div class="span9">
	    <h2><%=t('frda.home.collection_highlights')%><span class="highlights-link"><%=link_to t('frda.home.more_highlights'),collection_highlights_path%></span></h2>
	  </div>
	</div>

  <div class="row featured-collections">
		<% @highlights.each do |highlight| %>
      <div class="span3 featured-collection">
        <%#= link_to(image_tag(highlight.image_url, :class => 'highlight-poster-image'),catalog_index_path(params_for_collection_highlight(highlight)))  %>
        <%= link_to(image_tag("http://placehold.it/360x220", :class => 'highlight-poster-image'),catalog_index_path(params_for_collection_highlight(highlight)))  %>
        <h3 class="collection-title"><%= link_to_collection_highlight(highlight) %></h3>
        <span>(<%=t('frda.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
      </div>
		<% end %>
  </div>


  <div class="row">
    <div class="span9 about-dl">
      <h3 class="section-heading"><%= t('frda.home.about_collections_html') %></h3>
      <p>
        <%= t('frda.home.about_text_html') %>
      </p>
      <p>
        <%= link_to image_tag('archives.png', :width => '120'), "#" %>
        <%= link_to "Archives parlementaires / Parliamentary archives", "#", :class => "heading-link" %>
        <%= t('frda.home.about_text_ap_html') %>
      </p>
      <p>
        <%= link_to image_tag('images.jpg', :width => '120'), "#" %>
        <%= link_to "Images de la Révolution française / Images of the French Revolution", "#", :class => "heading-link" %>
        <%= t('frda.home.about_text_images_html') %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span9 overview">
      <h3 class="section-heading"><%=t('frda.home.overview_by')%></h3>
        <div>
          <iframe src='http://embed.verite.co/timeline/?source=0AiAKoREUMPSSdFpFMHkzSEtyTk1rZFNSbkFZOEoyQ3c&font=Merriweather-NewsCycle&maptype=toner&lang=en&width=650&height=500' width='650' height='500' frameborder='0'>
          </iframe>
        </div>
    </div>
  </div>

</div>
