<!-- <div id="content" class="span9"> -->

  <%# Collection Highlights section -%>
  <!-- <div class="row">
    <div class="span9">
      <h2><%#=t('frda.home.collection_highlights')%></h2>
    </div>
  </div> -->

  <!-- <div class="row featured-collections">
    <%# @highlights.each do |highlight| %>
      <div class="span3 featured-collection">
        <%#= link_to(image_tag(highlight.image_url, :class => 'highlight-poster-image'),catalog_index_path(params_for_collection_highlight(highlight)))  %>
        <h3 class="collection-title"><%#= link_to_collection_highlight(highlight) %></h3>
        <span>(<%#=t('frda.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
      </div>
    <%# end %>
  </div> -->


  <div class="row">
    <div class="span9 about-dl">
      <%# TODO: Change the H2 tag below to H3 if we add back the Collection Highlights section above -%>
      <h2 class="section-heading"><%= t('frda.home.about_collections_html') %></h2>
      <p>
        <%= t('frda.home.about_text_html') %>
      </p>
      <div>
        <%= link_to image_tag('archives.png', :width => '120'), ap_collection_path %>
        <%= link_to "Archives parlementaires / Parliamentary archives", ap_collection_path, :class => "heading-link" %>
        <p class="collection-desc">
          <%= t('frda.home.about_text_ap_html') %>
        </p>
      </div>
      <div>
        <%= link_to image_tag('images.jpg', :width => '120'), images_collection_path  %>
        <%= link_to "Images de la Révolution française / Images of the French Revolution", images_collection_path, :class => "heading-link" %>
        <p class="collection-desc">
          <%= t('frda.home.about_text_images_html') %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9 overview">
      <h3 class="section-heading"><%=t('frda.home.overview_by')%></h3>
        <div>
          <iframe src='http://embed.verite.co/timeline/?source=0AiAKoREUMPSSdFpFMHkzSEtyTk1rZFNSbkFZOEoyQ3c&font=Merriweather-NewsCycle&maptype=toner&lang=en&width=650&height=500' width='650' height='500' frameborder='0'>
          </iframe>
        </div>
    </div>
  </div>

<!-- </div> -->
