<div class="row results-controls well">

  <div class="span2 prev-next">
    <% if paginate_params(@response).num_pages > 1 %>
    <%= paginate_rsolr_response @response, :theme => :blacklight_compact %>
    <% else %>
    <%= render_pagination_info(@response) %>
    <% end %>
  </div>

  <div class="span3 view-toggle">
    <div class='view_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">

        <%# AP-only results views %>
        <% if on_ap_page %>
          <li><%= link_to_search_result_view('icon-th', 'gallery', true) %></li>
          <li><%= link_to_search_result_view('icon-align-justify', 'list', false) %></li>
          <li><%= link_to_search_result_view('icon-th-list', 'default', false) %></li>
          <li><%= link_to_search_result_view('icon-signal', 'frequency', false) %></li>

        <%# Images-only results views %>
        <% elsif on_images_page %>
          <li><%= link_to_search_result_view('icon-th', 'gallery', true) %></li>
          <li><%= link_to_search_result_view('icon-align-justify', 'list', false) %></li>

        <%# Combined results views %>
        <% else %>
          <li><%= link_to_search_result_view('icon-th', 'gallery', true) %></li>
          <li><%= link_to_search_result_view('icon-th-list', 'default', false) %></li>
          <li><%= link_to_search_result_view('icon-align-justify', 'list', false) %></li>
          <li><%= link_to_search_result_view('icon-signal', 'frequency', false) %></li>
        <% end %>

      </ul>
    </div>
  </div>

  <div class="span4 select_all-pulldown visible-desktop">
    <%= render 'sort_and_per_page' %>
    <%= render 'select_all_on_page' %>
  </div>

</div>
