<div class="row results-controls well">

  <div class="span4 prev-next">
    <%= render_pagination_info(@response) %>
  </div>

  <div class="span5 view-switcher">
    <div class='view-toggle tabbable tabs-below'>
      <ul class="nav nav-pills">

        <%# AP-only results views %>
        <% if on_ap_page %>
          <li><%= search_result_view_switch('icon-th-list', 'default') %></li>
          <li><%= search_result_view_switch('icon-th', 'gallery') %></li>
          <li><%= search_result_view_switch('icon-align-justify', 'list') %></li>
          <li><%= search_result_view_switch('icon-signal', 'frequency') %></li>

        <%# Images-only results views %>
        <% elsif on_images_page %>
          <li><%= search_result_view_switch('icon-th-list', 'default') %></li>
          <li><%= search_result_view_switch('icon-th', 'gallery') %></li>
          <li><%= search_result_view_switch('icon-align-justify', 'list') %></li>

        <%# Combined results views %>
        <% else %>
          <li><%= search_result_view_switch('icon-th-list', 'default') %></li>
          <li><%= search_result_view_switch('icon-th', 'gallery') %></li>
          <li><%= search_result_view_switch('icon-align-justify', 'list') %></li>
          <li><%= search_result_view_switch('icon-signal', 'frequency') %></li>

        <% end %>

      </ul>
    </div>
  </div>

  <!-- <div class="span4 select_all-pulldown visible-desktop">
    <%#= render 'sort_and_per_page' %>
    <%#= render 'select_all_on_page' %>
  </div> -->

</div>
