<%# This is used for all search result views. 
    Oneresult == one search result item -%>
<div class="oneresult">
  <span class="pageimg">
      <%= link_to_document document,
           :label => "<div data-lazy-load='true' data-src='#{document.first_image(:size=>:thumb)}' data-title='#{document.title}'></div>".html_safe,
           :counter =>  (index + 1 + @response.params[:start].to_i) %>
    <noscript>
      <%= link_to_document document,
           :label => image_tag(document.first_image(:size=>:thumb),
                               :alt => document.title,
                               :title => document.title,
                               :border => 0),
           :counter =>  (index + 1 + @response.params[:start].to_i) %>
    </noscript>
  </span>
  <% if document.images_item? %>
    <h3 class="image-item-title long-title"><%= link_to document.title.first.html_safe, document %></h3>
    <h3 class="image-item-title short-title"><%= link_to document.title(:length=>"short").first.html_safe, document %></h3>
    <% if mods_element_dateIssued_present?(document) %>
      <span class="item-date"><%= mods_element_dateIssued(document) %></span>
    <% end %>
  <% else %> <%# AP item %>
    <% unless list_is_empty?(document.session_date)%>
      <h3 class="session-title">
        <%= link_to show_list(document.session_date).html_safe, document %>
      </h3>
    <% end %>
    <% unless (document.highlighted_speeches.blank? && list_is_empty?(document.speaker)) || document.images_item? %>
      <span class="speaker">
         <span class="frda-label"><%=t('frda.search.results.speaker')%>:&nbsp;</span>
         <%- if !document.highlighted_speeches.blank? -%>
           <%= document.highlighted_speeches.map do |speech|
                 speech.speaker
               end.join(", ") %>
         <%- elsif !list_is_empty?(document.speaker) -%>
           <%= show_list(document.speaker)%>
         <%- end -%>
      </span>
    <% end %>
      <span class="pagenum">
        <i class="icon-list-alt"></i>
        <%= link_to document.title(:length=>"short"), document %>
      </span>
    
    <%- if !document.highlighted_speeches.blank? -%>
      <div class="snippet">
        <span class="shorttext">
          <%= document.highlighted_speeches.map do |speech|
                truncate_highlight(speech.speech, :around => 20, :length => 200)
              end.join("<br/>").html_safe %>
        </span>
        <span class="longtext">
          <%= document.highlighted_speeches.map do |speech|
                truncate_highlight(speech.speech, :around => 20, :length => 600)
              end.join("<br/>").html_safe %>
        </span>
      </div>
    <%- elsif !document.page_text.blank? -%>
      <div class="snippet">
        <span class="shorttext">
          <%= document.page_text.map do |text|
                truncate_highlight(text, :around => 10, :length => 100)
              end.join("<br/>").html_safe %>
        </span>
        <span class="longtext">
          <%= document.page_text.map do |text|
                truncate_highlight(text, :around => 20, :length => 600)
              end.join("<br/>").html_safe %>
        </span>
      </div>
    <%- end -%>
  <% end %> <%# end document.images_item? %>
</div> <%# end oneresult div %>
