<h4><%= t('frda.search.search_label') %></h4>

<%= form_tag search_action_url, :method => :get, :class => 'search_form' do %>
  <%= search_as_hidden_fields(:omit_keys => frda_search_omit_keys).html_safe %>
  <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
  <div class="accordion" id="search-options">
    <div class="accordion-group">
      <div id="options-toggle">
        <%= text_field_tag :q, params[:q], :class => "search_q q", :id => "q" %>
        <a href='#' class='accordion-toggle' data-collapse-search='true' data-collapse-element='#collapseSearch' style='display:none;'>+ options</a>
      </div>
      <div id="collapseSearch">
        <div class="accordion-inner well">
          <p class="form_label">
            <%= check_box_tag 'dates', 1, !params['dates'].blank?, :"data-post-check-focus" => "#date-start" %><%= label_tag('dates', t('frda.search.options.between')) %><br>
            <%= label_tag('date-start', t('frda.search.options.start_date'), :class => "off-screen") %>
            <%= text_field_tag 'date-start', params["date-start"], :class => 'input-mini date', :placeholder => "1780-05-18", :"data-date-picker" => true %>
            <%= label_tag('date-end', t('frda.search.options.to').html_safe) %>
            <%= text_field_tag 'date-end', params["date-end"], :class => 'input-mini date', :placeholder => "1799-04-26", :"data-date-picker" => true %>
					</p>
					
					<p class="form_label">
            <%= check_box_tag 'speeches', 1, !params['speeches'].blank?, :"data-post-check-focus" => "#by-speaker" %>
            <%= label_tag('speeches', t('frda.search.options.speeches')) %>
            <%= label_tag('by-speaker', t('frda.search.options.speaker_name'), :class => "off-screen")%>
            <%= text_field_tag 'by-speaker', params["by-speaker"], :class => 'input-mini' %>
					</p>
					
					<p class="form_label">
            <%= check_box_tag 'prox', 1, !params["prox"].blank? %>
            <%= label_tag('prox', t('frda.search.options.separated')) %>
            <%= select_tag "words",
                "<option>1</option>
                 <option>2</option>
                 <option selected>3</option>
                 <option>4</option>
                 <option>5</option>".html_safe %>
            <%= label_tag('words', t('frda.search.options.words')) %>
					</p>
					
					<p class="form_label">
            <%= check_box_tag 'terms', 1, !params["terms"].blank? %>
            <%= label_tag('terms', t('frda.search.options.in_title')) %>
					</p>
					
					<p class="form_label">
            <%= check_box_tag 'exact', 1, !params["exact"].blank? %>
            <%= label_tag('exact', t('frda.search.options.exact')) %>
					</p>
        </div>
      </div>
    </div>
  </div>

  <%= select_tag "search_collection", options_for_select(frda_search_collection_options, params["search_collection"]), :"data-hide-submit"=>'true' %>
  <%= submit_tag(t('blacklight.search.form.q'), :"data-hide-submit"=>'true') %>
  <div class="btn-group search-drop-down showOnLoad hidden">
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
      <%= t('blacklight.search.form.submit') %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= submit_tag(t('frda.search.results_heading_combined'), :name => "combined") %></li>
      <li><%= submit_tag(t('frda.search.results_heading_ap'), :name => "ap") %></li>
      <li><%= submit_tag(t('frda.search.results_heading_image'), :name => "image") %></li>
    </ul>
  </div>

<%- end -%>

