<div class="row ap-item">
  <div class="span12">
    <h2><%= link_to "Archives parlementaires", ap_collection_path %></h2>
    <ul class="item-breadcrumb">
      <li><%= @document.title %></li>
    </ul>
  </div>
</div>

<div class="row ap-item">
  <div class="span12 well" id="controls">

    <div class="row">
      <div class="span3 result-item-nav">
        <%= render 'previous_next_doc' %>
      </div>

      <div class="span6 item-views btn-group">
          <%= link_to show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:mode=>"image"),:remote=>true do%>
		        <%= button_tag "side-by-side",
                :class => 'btn btn-small',
                :disabled => ['image', nil].include?(@mode) ? true : false %>
					<% end %>

          <%= link_to show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:mode=>"ocr"),:remote=>true do%>
	        <%= button_tag "text-only",
              :class => 'btn btn-small',
              :disabled => ['ocr'].include?(@mode) ? true : false %>
					<% end %>

		 <%= link_to show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:mode=>"flipbook"),:remote=>true,:class=>'hidden showOnLoad' do%>        
	        <%= button_tag "read in flipbook",
              :class => 'btn btn-small hidden showOnLoad',
              :disabled => ['flipbook'].include?(@mode) ? true : false %>
					<% end %>
					
        <button class="btn btn-small">
          fullscreen
        </button>
      </div>

      <div class="span3 item-actions">
        <div id="item_actions-dropdown" class="dropdown pull-right  hidden-phone">
          <span class="hide-text"><%= t('frda.show.item_actions') %></span>
          <ul class="css-dropdown">
            <li class="btn btn-small">
              <%=t('frda.show.download')%>
              <span class="caret"></span>
              <ul>
                <!-- <li><%#= link_to t('frda.sidebar.actions.print'), '#' %></li> -->
                <li class="download-option">
                 <%= link_to "Page (image)", @document.first_image(:download=>true), :class => 'downloadLink' %>
                </li>
                <li class="download-option">
                 <%= link_to "Page (text)", show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:download_ocr_text=>true), :class => 'downloadLink' %>
                </li>				
              </ul>
            </li>
          </ul>
          <button class="btn btn-small">
             <%= link_to t('frda.sidebar.actions.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :class => 'lightboxLink cite'} %>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row ap-item">
  <div class="span12 page-navigation">

    <%= form_tag(show_page_path, :remote => true, :class => "form-inline") do%>
      <%= hidden_field_tag :id,@document.druid %>
      <%= hidden_field_tag :from_id,@document.id %>
      <%= text_field_tag :page_num,@document.page_number, :maxlength => 3, :class => 'span1' %>
      <%= submit_tag "Go", :class => 'btn btn-mini'%>
    <% end %>

    <div class="btn-group">
      <%= link_to "&#60;".html_safe, show_page_path(:id=>@document.druid,:page_num=>((@document.page_number.to_i)-1).to_s,:from_id=>@document.id,:mode=>@mode),
		  :remote=>true,
          :class => 'btn btn-mini',
          :disabled => @document.page_number.to_i > 1 ? false : true %>
      <%= link_to "&#62;".html_safe, show_page_path(:id=>@document.druid,:page_num=>((@document.page_number.to_i)+1).to_s,:from_id=>@document.id,:mode=>@mode),
		  :remote=>true,
          :class => 'btn btn-mini',
          :disabled => @document.page_number.to_i < @document.total_pages ? false : true %>
    </div>

    <div class="btn-group">
      <a class="btn btn-mini" href="#">&#43;</a>
      <a class="btn btn-mini" href="#">&#45;</a>
    </div>

  </div>
</div>

<div class="row document-details">
  <% if @mode.blank? || @mode == 'image' %>
    <div class="span6">
	       <div class="item image-box active">
	        <%= image_tag(@document.first_image(:size=>:medium), :alt => @document.title) %>
	      </div>
    </div>
  <% end %>

  <div class="span<%= ['ocr','flipbook'].include?(@mode) ? "12" : "6"%> metadata">
		<% if @mode == 'flipbook' %>
		<span id="loading_message">Loading, please wait...</span>
	    <div class="flipbook">
				<iframe onLoad="$('#loading_message').hide();" src="http://sul-reader.stanford.edu/flipbook2/view.jsp?id=<%=@document.druid%>#page/<%=@document.page_number%>/mode/1up" width="750" height="650"></iframe>
	    </div>
	  <% end %>
		<% if @mode != 'flipbook' %>
	    <div class="ocr-box">
	      <%= simple_format(@document.page_text)%>
	    </div>
		<% end %>
  </div>
</div>
