<div class="row images-item">
  <div class="span12">
    <h2><%= link_to t('frda.image.detail.title'), images_collection_path %></h2>
 	 <% if @document.catalog_heading(I18n.locale).size > 0 %>
	   <ul class="item-breadcrumb">
	      <li><%= link_to_catalog_heading(@document.catalog_heading(I18n.locale).first).join(" » ").html_safe %></li>
	    </ul>
	 <% end %>
  </div>
</div>

<div class="row images-item well well-small">
  <%= link_back_to_catalog if current_search_session%>
  <%= render 'previous_next_doc' %>
  <%# if we want to show the Send email action, use partial below instead of button below that %>
  <%#= render :partial => 'show_actions' %>
  <%= link_to t('frda.sidebar.actions.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :class => 'lightboxLink cite'} %>
</div>

<div class="row document-details images-item">
  <div class="span6 member-image">
    <iframe id="image_workspace" style="width: 100%; height: 600px;" src="//embed.stanford.edu/iframe?url=http://purl.stanford.edu/<%= @document[:id] %>&amp;hide_title=true"></iframe>

    <noscript>
       <div class="item active">
           <%= link_to image_tag(@document.first_image, :alt => "#{t('frda.collection_members.items_name')} 1 of #{@document.images.size}"),@document.purl %>
	        <% unless @document.purl.blank? %>
	          <div>Permanent URL<%= " (click to view all item images)" if @document.images.size > 1 %>:
	            <span><%= link_to @document.purl, @document.purl, :class => 'purl-link' %></span>
	          </div>
			<% end %>
       </div>
    </noscript>
  </div>

  <div class="span6 metadata">
    <% unless @document.title.nil?%>
      <h3><%= mods_combined_title(@document) %></h3>
    <% end %>

    <%= render_mods_display(@document).body.html_safe %>

  </div>
</div>
