<div class="row">
  <div class="span12">
		<h2><%= raw truncate(@document.title,:length=>200) %></h2>
  </div>
</div>

<div class="row document-details">
	<div class="span12" id="controls">
	<% case @mode %>
		<% when "ocr" %>
			<%= link_to 'Image+Text',show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:mode=>"image"),:remote=>true%>
		<% else %>
			<%= link_to 'Text only',show_page_path(:id=>@document.druid,:page_num=>@document.page_number,:mode=>"ocr"),:remote=>true%>
	<% end %>
	| 
	<%= link_to 'Flipbook',show_flipbook_path(:id=>@document.druid,:page_num=>@document.page_number),:remote=>true,:class=>'hidden showOnLoad' %>

	<% if @document.page_number.to_i > 1 %>
			<%= link_to '<-',show_page_path(:id=>@document.druid,:page_num=>((@document.page_number.to_i)-1).to_s,:mode=>@mode),:remote=>true%>
	<% else %>
			&nbsp;&nbsp;&nbsp;
	<% end %>
	Page <%=@document.page_number%> of <%=@document.total_pages%>
	<% if @document.page_number.to_i < @document.total_pages %>
		<%= link_to '->',show_page_path(:id=>@document.druid,:page_num=>((@document.page_number.to_i)+1).to_s,:mode=>@mode),:remote=>true%>
	<% else %>
			&nbsp;&nbsp;&nbsp;
	<% end %>
	
	<%= form_tag(show_page_path, :remote => true) do%>
		<%= hidden_field_tag :id,@document.druid %>
		<%= hidden_field_tag :from_id,@document.id %>
		<%= text_field_tag :page_num,'',:maxlength=>3,:size=>3%>
		<%= submit_tag "Go to page"%> 
	<% end %>
	
	</div>	
	<% if @mode != 'ocr' %>
	  <div class="span6">
	    <div class="item active">
	      <%= image_tag(@document.first_image, :alt => "Image") %>
	    </div>
	  </div>
	<% end %>
	
  <div class="span<%= @mode == 'ocr' ? "12" : "6"%> metadata">
		   <h3>Page Text</h3>
			<%= simple_format(@document.page_text)%>
  </div>
</div>
