<div class="row ap-browse">
  <div class="span9">
    <div data-collapse="true">
      <%- @response.facet_pivot.each do |_, tomes| -%>
        <ul id="volumes">
          <%- tomes.each_with_index do |tome, index| -%>
            <li class="tome-title" data-behavior='toggle-handler' data-reference-id="#<%= index %>">
              <i style="display:none;" class="icon-plus"></i>
              <%= link_to tome["value"], "##{index}" %>
            </li>
            <li>
              <ul id="sessions">
                <%- tome["pivot"].each do |session| -%>
                  <li>
                    <span class="session-title">
                      &raquo;<%= link_to_session_facet(session["value"], :params => params.dup.delete_if{|k,v| k == "view"}, :title => session["value"]) %> 
                    </span>
                  </li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
          <% AP_STATIC_TOMES.each do |tome| %>
            <li class="tome-title">
              <span class="rbullet">&raquo;</span>
              <span class="static"><%= tome %></span>
              <%= link_to "note", "http://searchworks.stanford.edu/view/1071767", :class => "tome-note" %>
              <p class="tome-note-text">
                View this item in Searchworks:
                <%= link_to "http://searchworks.stanford.edu/view/1071767", "http://searchworks.stanford.edu/view/1071767" %>
              </p>
            </li>
          <% end%>
        </ul>
      <%- end -%>
    </div>
  </div>
</div>
