<script type="text/javascript">
  $(document).ready(function(){
    $("#image_workspace").embedPurl({'server': '<%=Frda::Application.config.purl_plugin_server%>',
                                     'druid': '<%= @document[:id] %>',
                                     'size': 'thumb',
                                     'width': 400,
                                     'height': 500});
  });
</script>

<div class="row">
  <div class="span12">
    <h2><%= t('frda.image.detail.title') %></h2>
 	 <% if @document.catalog_heading(I18n.locale).size > 0 %>
	   <ul class="item breadcrumb">
	      <li><%=@document.catalog_heading(I18n.locale).first%></li>
	    </ul>
	 <% end %>
    <%= render 'previous_next_doc' %>
  </div>
</div>

<div class="row document-details">
  <div class="span6 member-image">
    <div id="image_workspace"></div>
      <noscript>
         <div class="item active">
             <%= link_to image_tag(@document.images.first, :alt => "#{t('frda.collection_members.items_name')} 1 of #{@document.images.size}"),@document.purl %>
		        <% unless @document.purl.blank? %>
		          <div>Permanent URL<%= " (click to view all item images)" if @document.images.size > 1 %>:
		            <span><%= link_to @document.purl, @document.purl, :class => 'purl-link' %></span>
		          </div>
				<% end %>			 
         </div>
      </noscript>
  </div>

  <div class="span6 metadata">
    <% unless @document.title.nil?%>
      <h3><%= @document.title %></h3>
    <% end %>

    <dl class="dl-invert">
      <% unless @document.medium.nil?%>
        <dt><%=t('frda.show.medium')%></dt>
        <dd><%=@document.medium%></dd>
      <% end %>
      <% unless list_is_empty?(@document.collector) %>
        <dt><%=t('frda.show.collector')%></dt>
        <dd><%=show_formatted_list(@document.collector,:facet=>'collector_ssim')%></dd>
      <% end %>
      <% unless list_is_empty?(@document.genre)%>
        <dt><%=t('frda.show.genre')%></dt>
        <dd><%=show_formatted_list(@document.genre,:facet=>'genre_ssim')%>&nbsp;</dd>
      <% end %>
      <% unless list_is_empty?(@document.speaker)%>
        <dt><%=t('frda.show.speaker')%></dt>
        <dd><%=show_formatted_list(@document.speaker,:facet=>'speaker_ssim')%>&nbsp;</dd>
      <% end %>
      <% unless list_is_empty?(@document.artist)%>
        <dt><%=t('frda.show.artist')%></dt>
        <dd><%=show_formatted_list(@document.artist,:facet=>'artist_ssim')%>&nbsp;</dd>
      <% end %>
      <% unless list_is_empty?(@document.year)%>
        <dt><%=t('frda.show.date')%></dt>
        <dd><%=show_formatted_list(@document.year,:facet=>'date_issued_ssim')%>&nbsp;</dd>
      <% end %>
      <% unless list_is_empty?(@document.format) %>
        <dt><%=t('frda.show.format')%></dt>
        <dd><%=show_formatted_list(@document.format,:facet=>'doc_type_ssim')%></dd>
      <% end %>
    </dl>
  </div>
</div>
