<div class="row">
  <div class="span12">
      <%= raw truncate(render_document_heading(:h2).html_safe,:length=>200) %>
  </div>
</div>

<div class="row document-details">
  <div class="span6">
    <div class="item active">
      <%= image_tag(@document.first_image, :alt => @document.title) %>
    </div>
  </div>

  <div class="span6 metadata">
		<h3><%=@document.volume_name%></h3>
		<%= t('frda.show.item',:count=>@document.children.size) %>
		<ul>
		<% @document.children.each do |child| %>
			<li><%= link_to child.title, catalog_path(child.id)%></li>
		<% end %>
		</ul>
  </div>
</div>
