<script language="javascript">
$(document).ready(function(){
  // $('.truncate').truncate({max_length: 1035});
  $('.truncate').responsiveTruncate({lines: 8, more: '<%= t('frda.show.more') %>', less: '<%= t('frda.show.less') %>'});
});
</script>

<div id="sidebar" class="span3">
  <div class="collection-image">
    <% if on_images_page || on_images_landing_page %>
      <%= image_tag(asset_url("images_image_cropped.jpg"), :alt => "Images Collection", :class => "images-collection-image") %>
    <% elsif on_ap_page || on_ap_landing_page %>
      <%= image_tag(asset_url("APcoverimage.jpg"), :alt => "AP Collection", :class => "ap-collection-image") %>
    <% end %>
  </div>
  <%= render "search_form" %>
  <%= render :partial => 'constraints' if query_has_constraints? && !on_ap_landing_page && !on_images_landing_page %>
  <%= render :partial=> 'facets' unless on_collection_highlights_page or on_ap_landing_page or on_images_landing_page %>
</div>


<div id="content" class="span9">

  <% unless has_search_parameters? %>

    <%# if there are no input/search related params, display the "home" or collection highlight partial -%>
    <% if on_collection_highlights_page %>
      <%= render 'highlights' %>
    <% else %>
      <%= render 'home' %>
    <% end %>
  <% else %>

    <% @page_title = t('frda.search.search_label') %>

    <% extra_head_content << render_opensearch_response_metadata.html_safe %>

    <% if on_images_landing_page %>
      <h2 class="search-results"><%= t('frda.search.results_heading_image') %></h2>
      <div class="images-summary truncate">
        <%=t('frda.about.images_html')%>
      </div>
    <% elsif on_images_page %>
      <h2 class="search-results"><%= t('blacklight.search.search_results') %></h2>
    <% elsif on_ap_page %>
      <%- if response_is_grouped? -%>
        <h2 class="search-results"><%= t('blacklight.search.search_results_header_grouped') %></h2>
      <% else %>
        <h2 class="search-results"><%= t('blacklight.search.search_results_header_ungrouped') %></h2>
        <div class="ap-summary truncate">
          <%=t('frda.about.ap_html')%>
        </div>
      <% end %>
    <% elsif on_ap_landing_page %>
      <h2 class="search-results"><%= t('frda.nav.collection_ap') %></h2>
      <div class="ap-summary truncate">
        <%=t('frda.about.ap_html')%>
      </div>
    <% else %> <%# combined search %>
      <%- if response_is_grouped? -%>
        <h2 class="search-results"><%= t('blacklight.search.search_results_header_grouped') %></h2>
      <% else %>
        <h2 class="search-results"><%= t('blacklight.search.search_results_header_ungrouped') %></h2>
      <% end %>
    <% end %>

    <% unless on_ap_landing_page || on_images_landing_page %>
      <%# bar with response counts and view toggles %>
      <%= render "results_controls" %>

      <%# results pagination at top of page %>
      <%= render :partial => 'results_pagination', :locals => {:top_pagination => true} %>

      <%# search results items %>
      <%= render_document_index %>

      <%# results pagination at bottom of page %>
      <%= render :partial => 'results_pagination', :locals => {:top_pagination => false} %>

    <% else %>
      <%= render "show_ap_landing_page"     if on_ap_landing_page %>
      <%= render "show_images_landing_page" if on_images_landing_page %>
    <% end %>

  <% end %>

</div>
