<script language="javascript">
$(document).ready(function(){
  $('.truncate').truncate({max_length: 1035});
});
</script>

<div id="sidebar" class="span3">
  <div class="collection-image">
    <% if on_images_page %>
      <%= image_tag(asset_url("images_image_cropped.jpg"), :alt => "Images Collection", :class => "images-collection-image") %>
    <% elsif on_ap_page %>
      <%= image_tag(asset_url("ap_cover_cropped.jpg"), :alt => "AP Collection", :class => "ap-collection-image") %>
    <% end %>
  </div>
  <%= render "search_form" %>
  <%= render :partial => 'constraints' if query_has_constraints? %>
  <%= render :partial=>'facets' unless on_collection_highlights_page %>
</div>


<div id="content" class="span9">

  <% unless has_search_parameters? %>

    <%# if there are no input/search related params, display the "home" or collection highlight partial -%>
    <% if on_collection_highlights_page %>
      <%= render 'highlights' %>
    <% else %>
      <%= render 'home' %>
    <% end %>
  <% else %>

    <% @page_title = t('frda.search.search_label') %>

    <% extra_head_content << render_opensearch_response_metadata.html_safe %>

    <% if on_images_page %>
      <h2 class="search-results"><%= t('frda.search.results_heading_image') %></h2>
      <div class="images-summary truncate">
        <%=t('frda.about.images_html')%>
      </div>
    <% elsif on_ap_page %>
      <h2 class="search-results"><%= t('frda.nav.collection_ap') %></h2>
      <div class="ap-summary truncate">
        <%=t('frda.about.ap_html')%>
      </div>
    <% else %>
      <h2 class="search-results"><%= t('blacklight.search.search_results_header') %></h2>
    <% end %>
    <div id="search-results-metadata">

      <%#= render :partial => 'did_you_mean' %>
      <%#= render :partial => 'constraints' %>
    </div>

    <%# bar with prev|next, views toggles, and per-page %>
    <%= render "results_controls" %>

    <%# results pagination at top of page %>
    <%= render 'results_pagination' %>

    <%# search results items %>
    <%= render_document_index %>

    <%# results pagination at bottom of page %>
    <%= render 'results_pagination' %>

  <% end %>

</div>
