<script language="JavaScript">
	$(document).ready(function(){
			$(".truncate").truncate({max_length: 450,  less: '&laquo; <%=t('frda.show.less')%>', more: '<%=t('frda.show.more')%> &raquo;'});
	});
</script>

<%= render :partial => 'show_inventory_sidebar' %>

<div id="content" class="span9 inventory">
  <h2><%= @page_title %></h2>
  <div data-collapse="true">
    <%- SolrDocument.new.all_series.each_with_index do |series, index| %>
      <h3 id="series<%= index+1 %>"><%= series[blacklight_config.show.heading] %></h3>
      <p class="truncate"><%= raw show_series_language_description(series.notes,I18n.locale) %></p>
      <ul class="series">
        <li data-behavior='toggle-handler' data-reference-id="#<%= series[:id] %>">
          <i style="display:none;" class="icon-plus-sign"></i> 
          <%= link_to("#{t('frda.show.box',:count=>series.folders.group_by{|f| f[blacklight_config.box_identifying_field].first }.keys.length)},  #{t('frda.show.folder',:count=>series.folders.total_members)},  #{t('frda.show.item',:count=>series.folders.map{|f|  f.children.total_members.to_i }.inject(:+))}", "##{series[:id]}") %>
        </li>
        <li>
          <ul class="box-list">
            <%- series.folders.group_by{|f| f[blacklight_config.box_identifying_field].first }.each do |box, folders| -%>
              <li data-behavior='toggle-handler' data-reference-id="#<%= "box#{box}" %>">
                <i style="display:none;" class="icon-plus-sign"></i> <%= link_to("#{t('frda.show.box.word')} #{box}", "#box#{box}") %>
              </li>
              <li>
                <ul class="folder-list">
                  <%- folders.each do |folder| -%>
                    <li data-behavior='toggle-handler' data-reference-id="#<%= folder[:id] %>">
                      <i style="display:none;" class="icon-plus-sign"></i> 
                      <%= link_to("#{t('frda.show.folder.word')} #{folder[blacklight_config.folder_identifying_field].first}: #{folder[blacklight_config.show.heading]}", "##{folder[:id]}") %>
                    </li>
                    <li>
                      <ul class="folder-items">
                        <li class="item-count"><%=t('frda.show.item',:count=>folder.children.total_members)%>:</li>
														<ul class="item-list">															
                            <%- folder.children.each do |document| -%>
															<li class="item-image-link" data-image-link="<%=catalog_path(document[:id])%>" data-image-url="<%=document.first_image(:square)%>" data-image-title="<%=document.title%>">
															<noscript>
                              	<%= link_to(image_tag(document.first_image(:square),:alt=>document.title,:title=>document.title,:border=>0), catalog_path(document[:id])) %>
															</noscript>
														</li>
                            <%- end -%>
														</ul>
                        </li>
                      </ul>
                    </li>
                  <%- end -%>
                </ul>
              </li>
            <%- end -%>
          </ul>
        </li>
      </ul>
    <%- end -%>
  </div>
</div>
