  <div class="span9">
    <h2 class="report-problem"><%= @page_title %></h2>
  </div>

<%= form_tag({:controller=>'about',:action=>'contact'}, :method=>'post', :class => 'form-horizontal') do %>
	<%= hidden_field_tag 'from',@from%>
	<div class="control-group">
	  <label class="control-label" for="name"><%=t('frda.contact.name')%></label>
	  <div class="controls">
	    <%=text_field_tag 'name', @name, :placeholder => t('frda.contact.name_placeholder') %>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="email"><%=t('frda.contact.email')%></label>
	  <div class="controls">
	    <%=text_field_tag 'email', @email, :placeholder => t('frda.contact.email_address') %>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="url"><%=t('frda.contact.page_url')%></label>
	  <div class="controls">
	    <input type="text" id="url" class="input-xlarge" disabled value="<%= @from %>" >
	  </div>
	</div>

	<% if Frda::Application.config.contact_us_topics.size > 1 %>
		<div class="control-group">
		  <label class="control-label" for="subject"><%=t('frda.contact.subject')%></label>
		  <div class="controls">
		    <%= select_tag 'subject',options_from_collection_for_select(translate_options(Frda::Application.config.contact_us_topics), :first, :last, @subject) %>
		  </div>
		</div>
	<% else %>
			<%= hidden_field_tag 'subject',Frda::Application.config.contact_us_topics.keys.first%>
	<% end %>

	<div class="control-group">
	  <label class="control-label" for="message"><%=t('frda.contact.message')%></label>
	  <div class="controls">
	    <%=text_area_tag 'message', @message, :placeholder => t('frda.contact.describe_problem'), :rows => 10 %>
	  </div>
	</div>

	<div class="control-group">
	  <div class="controls">
	    <%=submit_tag t('blacklight.email.form.submit'), :class => 'btn' %>
	  </div>
	</div>
<% end %>

<%# div below can be removed if and when all list items are resolved %>
<div class="well known-issue">
  <%= t('frda.contact.known_issue.issue_text_html') %>
  <ul>
    <li><%= t('frda.contact.known_issue.vol_28') %></li>
    <li><%= t('frda.contact.known_issue.vol_57') %></li>
    <li><%= t('frda.contact.known_issue.vol_72') %></li>
    <li><%= t('frda.contact.known_issue.vol_82') %></li>
  </ul>
</div>