<div id="sidebar" class="span3">
	<div id="sidebar-nav">
	  <ul class="nav nav-list affix">
	    <li class="nav-header"><%=t('frda.nav.about')%></li>
			<li><%= link_to t('frda.nav.project_overview'), about_project_path(:anchor => 'curator') %></li>
			<li><%= link_to t('frda.nav.project_team_stanford'), about_project_path(:anchor => 'project_team_stanford') %></li>
			<li><%= link_to t('frda.nav.project_team_bnf'), about_project_path(:anchor => 'project_team_bnf') %></li>
			<li><%= link_to t('frda.nav.technical_description'), about_project_path(:anchor => 'technical_description') %></li>
			<li><%= link_to t('frda.nav.acknowledgements'), about_project_path(:anchor => 'acknowledgements') %></li>
			<li><%= link_to t('frda.nav.use_policy'), about_project_path(:anchor => 'use_and_reproduction') %></li>

			<li class="nav-header"><%=t('frda.nav.contact')%></li>
			<li>Sarah Sussman</li>
			<li>Curator of French and Italian Collections
	      <span class="contact-link"><%= mail_to "TBD@TBD.stanford.edu" %></span>
	    </li>
	  </ul>
	</div>
</div>
