<%= render :partial => 'show_background_sidebar' %>

<div id="content" class="span9 background">
	<div class="row">
	  <div class="span9">
	    <h2><%= @page_title %></h2>
			<dl class="dl-horizontal">
				<dt><%=t('frda.background.repository')%>:</dt><dd><%=t('frda.background.repository_text')%>
				<dt><%=t('frda.background.summary_title')%>:</dt><dd><%=t('frda.background.summary_title_text')%>
				<dt><%=t('frda.background.date')%>:</dt><dd><%=t('frda.background.date_text')%>
				<dt><%=t('frda.background.extent')%>:</dt><dd><%=t('frda.background.extent_text')%>
				<dt><%=t('frda.background.language')%>:</dt><dd><%=t('frda.background.language_text')%>
			</dl>
	  </div>
	</div>
	
	<div class="row">
	  <div class="span9">
			<h3 id="notes"><%=t('frda.background.notes_title') %></h3>
			<%= t('frda.background.notes_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="extent"><%=t('frda.background.extent_description_title') %></h3>
			<%= t('frda.background.extent_description_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="custodial_note"><%=t('frda.background.custodial_note_title') %></h3>
			<%= t('frda.background.custodial_note_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="abbreviations"><%=t('frda.background.abbreviations_title') %></h3>
			<%= t('frda.background.abbreviations_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="bibliography"><%=t('frda.background.bibliography_title') %></h3>
			<%= t('frda.background.bibliography_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="index"><%=t('frda.background.index_title') %></h3>
			<%= t('frda.background.index_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3 id="footnotes"><%=t('frda.background.footnotes_title') %></h3>
			<%= t('frda.background.footnotes_text_html') %>
		</div>
	</div>
	
</div>